<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Null Null 90 GmbH</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body class="body-index">

    <header>
        <img src="{{ url_for('static', filename='Logo.jpg') }}"  class="logo">
    </header>

    <!-- Hintergrundvideo -->
    <video class="background-video" autoplay loop muted>
        <source src="{{ url_for('static', filename='background.mp4') }}" type="video/mp4">
        Ihr Browser unterstützt kein HTML5 Video.
    </video>

    <!-- Login Button -->
    <button class="login-btn" onclick="window.location.href='{{ url_for('login') }}';">Login </button>
<div id="index-top"></div>
    <!-- Titel -->
    <h1 id="index-h1">Null Null 90 GmbH</h1>

    <!-- Offene Stellen Button -->
    <button class="jobs-btn" onclick="window.location.href='{{ url_for('stellenanzeigen') }}';">Offene Stellen</button>

    <!-- Bewerbungs-Button -->
    <button class="apply-btn" onclick="window.location.href='{{ url_for('bewerbung') }}';">Jetzt bewerben</button>
</body>
</html>
