<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <label for="email">E-Mail:</label>
            <input type="email" name="email" id="email" required>
            
            <label for="password">Passwort:</label>
            <input type="password" name="password" id="password" required>

            <label for="token">2FA Code:</label>
            <input type="text" name="token" id="token">
            
            <button type="submit">Login</button>
        </form>

        <!-- Button zur Registrierungsseite -->
        <form action="/register" method="GET">
            <button type="submit" class="register-button">Registrieren</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <p class="alert {{ category }}">{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
        <button class="button-open-modal" onclick="openModal()">Neues Passwort</button>
    </div>
    <div id="resetPwModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Neues Passwort Setzen</h2>
            <form action="/new_pw" onsubmit="validatePasswords(event)" method="POST" class="reset-pw-form">
                <label for="email">E-Mail:</label>
                <input type="email" id="email" name="email" required>
                <label for="inital_pw">Initial Passwort:</label>
                <input type="password" id="inital_pw" name="inital_pw">
                <label for="neues_pw">Neues Passwort:</label>
                <input type="password" id="neues_pw" name="neues_pw">
                <label for="neues_pw_confirm">Neues Passwort bestätigen:</label>
                <input type="password" id="neues_pw_confirm" name="neues_pw_confirm">
                <button type="submit">Neues Passwort Setzen</button>
            </form>
        </div>
    </div>
    <script>
        function openModal() { document.getElementById("resetPwModal").style.display = "block"; }
        function closeModal() { document.getElementById("resetPwModal").style.display = "none"; }
        function validatePasswords(event) {
            var password = document.getElementById("neues_pw").value;
            var confirmPassword = document.getElementById("neues_pw_confirm").value;
            var passwordPattern = /^(?=.*[!@#$%^&*]).+$/;

            if (password.length < 8) {
                alert("Das Passwort muss mindestens 8 Zeichen lang sein.");
                event.preventDefault();
                return false;
            }

            if (!passwordPattern.test(password)) {
                alert("Das Passwort muss mindestens ein Sonderzeichen (!@#$%^&*) enthalten.");
                event.preventDefault();
                return false;
            }

            if (password != confirmPassword) {
                alert("Die Passwörter stimmen nicht überein.");
                event.preventDefault();
                return false;
            }

            return true;
        }

        
    </script>
</body>
</html>
